.nav {
  height: 50px;
  padding: 10px;
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.nav ul li a {
  margin: 5px 15px;
}

